* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #333333;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}

.bars {
  flex-direction: column;
  cursor: pointer;
  display: flex;
  row-gap: 5px;
}

.bar-1,
.bar-2,
.bar-3 {
  background-color: #f5ca0c;
  transition-duration: 0.5s;
  height: 3px;
  width: 24px;
}
